typing-extensions
pydantic
langgraph
langchain-core
langchain-community
langchain-text-splitters
pdfplumber
langchain-openai
faiss-cpu
rank_bm25
langchain-huggingface
fastapi
uvicorn[standard]
python-multipart
pandas
yfinance
python-dotenv